doctype html
if meta
	if meta.lang
		html(lang=meta.lang)
//- else
//- 	html(lang="en")
//- 		head
//- 			include component.head.pug
//- 		body
//- 			include component.header.pug
//- 			block body
//- 			include component.footer.pug
